{% extends "base.html" %}
{% block content %}
<h2>Products</h2>

<form method="GET" class="row mb-3">
  <input name="search" class="col form-control" placeholder="Search">
  <input name="price" class="col form-control" placeholder="Max price">
  <button class="col btn btn-info">Filter</button>
</form>

<div class="row">
{% for p in products %}
  <div class="col-md-4 mb-3">

    <a href="{{ url_for('product_detail', product_id=p.id) }}" 
       style="text-decoration:none; color:inherit;">
      <div class="card">
        <img src="{{ url_for('static', filename='uploads/' + p.image) }}"
             style="height:200px; object-fit:cover;">
        <div class="card-body">
          <h5>{{ p.name }}</h5>
          <p>₹{{ p.price }}</p>
        </div>
      </div>
    </a>

  </div>
{% endfor %}
</div>

{% if current_user.is_admin %}
<a href="/add-product" class="btn btn-warning mt-3">Add Product</a>
{% endif %}
{% endblock %}
