<!DOCTYPE html>
<html>
<head>
  <title>Simple To-Do List</title>
</head>
<body>

  <h2>To-Do List</h2>

  <!-- Add Task -->
  <form method="POST" action="/add">
    <input type="text" name="title" placeholder="Enter task">
    <button type="submit">Add</button>
  </form>

  <br>

  <!-- Show Tasks -->
  <ul>
    {% for task in tasks %}
      <li>
        ID: {{ task.id }} |
        {{ task.title }} |
        Status: {{ task.status }}
        <a href="/delete/{{ task.id }}">Delete</a>
      </li>
    {% endfor %}
  </ul>

</body>
</html>